/*
FONTS
    font-family: 'Prompt', sans-serif;
    font-family: 'Kanit', sans-serif;
*/
*, *::before, *::after {
    box-sizing: border-box;  
}

body {
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    max-width: 420px;
    margin: 0 1em;
    background-color: #151515;
    color: #FDFDFD;

}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    margin-bottom: 2em;
    padding-bottom: 2.5em;
    border-bottom: solid #B3B3B3;
    box-sizing: border-box;

}

header button {
    margin-bottom: 1em;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 38%;
}

.fa-brands {
    font-size: 7vw;
    text-decoration: none;
    color: #FDFDFD;
}

.profile-pic {
    width: 42%;
    height: auto;
    margin: 15px;
}

h1 {
    margin: 0;
    font-size: 7vw;
    font-weight: 400;
    padding: 0;
}

h2 {
    font-size: 5vw;
    margin-bottom: 1em;
}

u {
    text-decoration: underline;
    text-decoration-color: #5DD9A3;
}

p {
    color: #D3D3D3;
    font-family: 'Kanit', sans-serif;
    font-size: 4vw;
    padding: 0 6%;
}

.about {
    margin-bottom: 2em;
}

.contact-btn {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid #5DD9A3;
    background: none;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 3.8vw;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #FDFDFD;
    z-index: 1;
}

.contact-btn:before {
 content: "";
 position: absolute;
 left: 50%;
 transform: translateX(-50%) scaleY(1) scaleX(1.25);
 top: 100%;
 width: 140%;
 height: 180%;
 background-color: rgba(0, 0, 0, 0.05);
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.contact-btn:after {
 content: "";
 position: absolute;
 left: 55%;
 transform: translateX(-50%) scaleY(1) scaleX(1.45);
 top: 180%;
 width: 160%;
 height: 190%;
 background-color: #5DD9A3;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.contact-btn:hover {
 color: #151515;
 font-weight: bold;
 border: 1px solid #5DD9A3;
}

.contact-btn:hover:before {
 top: -35%;
 background-color: #5DD9A3;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.contact-btn:hover:after {
 top: -45%;
 background-color: #5DD9A3;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.exp-feed {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: solid #B3B3B3;
    padding-bottom: 0.9em;
}

.exp-feed h1 {
    margin-bottom: 0.3em;
}

.exp-feed p {
    margin: 0;
    margin-bottom: 2em;
}


@media (min-width: 420px) {
    header {
        height: 580px;
    }
    
    h1 {
        font-size: 1.9rem;
    }
    
    h2 {
        font-size: 1.3rem;
    }
    
    p {
        font-size: 1.1rem;
        margin: 1em 1em;
        padding: 0 0.5em;
    }
    
    .fa-brands {
        font-size: 1.8rem;
    }
    
    .contact-btn {
        font-size: 1.1rem;
    }
}